<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.isa.lucky.pet.dao.mapper.ProductMapper">
    <resultMap id="ProductMap" type="com.isa.lucky.pet.dao.domain.Product">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
        <result column="order_num" jdbcType="INTEGER" property="order" />
        <result column="featured" jdbcType="INTEGER" property="featured" />
        <result column="online" jdbcType="INTEGER" property="online" />
        <result column="category_id" jdbcType="INTEGER" property="categoryId" />
        <result column="description" jdbcType="VARCHAR" property="desc" />
        <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
        <result column="add_time" jdbcType="VARCHAR" property="addTime" />
    </resultMap>

    <sql id="sql_column" >
        id, name, img_url, order_num, featured, online, category_id, description, update_time, add_time
    </sql>

    <select id="getProductList" resultMap="ProductMap">
        SELECT
        <include refid="sql_column"/>
        FROM product
        WHERE online = #{online} AND category_id = #{categoryId}
        ORDER BY order_num
    </select>

    <select id="getFeaturedProductList" resultMap="ProductMap">
        SELECT
        <include refid="sql_column"/>
        FROM product
        WHERE online = 2 AND featured = 1
        ORDER BY order_num
    </select>

    <select id="getProductDetail" resultMap="ProductMap">
        SELECT
        <include refid="sql_column"/>
        FROM product
        WHERE id = #{id}
    </select>

    <insert id="insertProduct" parameterType="com.isa.lucky.pet.dao.domain.Product">
        INSERT INTO
        product(name, img_url, order_num, online, category_id,description, add_time)
        VALUES(#{name}, #{imgUrl}, #{order}, #{online}, #{categoryId}, #{desc}, now())
    </insert>

    <update id="changeProduct" parameterType="com.isa.lucky.pet.dao.domain.Product">
        UPDATE product
        SET name = #{name}, img_url = #{imgUrl}, order_num = #{order},
        online = #{online}, category_id = #{categoryId}, description = #{desc}
        WHERE id = #{id}
    </update>
</mapper>