div.wps-product-section{
    display: none;
}

div.wps-product-section.slick-initialized {
    display: block;
}

div.wps-slider-section {
    overflow: hidden;
}

.wps-slider-section h2.sp-woo-product-slider-section-title{
    margin: 0;
    padding: 0;
    font-weight: 600;
    margin-bottom: 23px;
    line-height: 1;
}
div.wps-slider-section .wps-product-section {
    margin-left: -15px;
}

div.wps-slider-section .wpsf-product {
    margin: 3px;
    margin-left: 15px;
    text-align: center;
}

div.wps-slider-section .wpsf-product:focus {
    outline: none;
}

div.wps-slider-section img.wpsf-product-img {
    border-radius: 0;
    box-shadow: 0 0 0 0;
    border: 1px solid #dddddd !important;
}

div.wps-slider-section .wpsf-product-title {
    margin-top: 10px;
    line-height: 20px;
}

div.wps-slider-section .wpsf-product-title a {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    border: 0;
    text-decoration: none;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}

div.wps-slider-section .wpsf-product-price {
    padding-top: 6px;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    color: #222222;
}

div.wps-slider-section .wpsf-product-price ins {
    background-color: transparent;
    text-decoration: none;
}

div.wps-slider-section .wpsf-product-price del {
    font-weight: 400;
    color: #888888;
    padding-right: 5px;
}

div.wps-slider-section .wpsf-cart-button a {
    border: 1px solid #222222;
    line-height: 19px;
    min-width: 80px;
    background-color: transparent;
    color: #444444;
    padding: 8px 14px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}

div.wps-slider-section .wpsf-cart-button a.added {
    display: none !important;
}

div.wps-slider-section .wpsf-cart-button p {
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
}

div.wps-slider-section .wpsf-cart-button .amount {
    display: none !important;
}

/* Dots */
div.wps-slider-section .wps-product-section ul.slick-dots {
    margin: 0;
    margin-top: 21px;
    padding: 0;
    list-style: none;
    text-align: center;
}

div.wps-slider-section .wps-product-section ul.slick-dots li {
    display: inline-block;
    border: 0;
    padding: 0;
    width: 12px;
    height: 12px;
    line-height: 12px;
    margin: 3px;
    overflow: hidden;
}

div.wps-slider-section .wps-product-section ul.slick-dots li button {
    border-radius: 50%;
    text-indent: -999px;
    width: 12px;
    height: 12px;
    padding: 0;
    border: 0;
    background-image: none;
}

div.wps-slider-section .wps-product-section ul.slick-dots li button:focus {
    outline: none;
}

/* Nav */
div.wps-slider-section .wps-product-section .slick-arrow {
    position: absolute;
    z-index: 9;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    line-height: 28px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

div.wps-slider-section .wps-product-section .slick-prev {
    top: -45px;
    right: 36px;
}

div.wps-slider-section .wps-product-section .slick-next {
    top: -45px;
    right: 0;
}

div.wps-slider-section .wps-product-section h2.sp-not-found-any-product-f {
    font-size: 15px;
    margin-left: 15px;
    font-weight: 400;
    color: red;
}

.widget_woo_product_slider_widget_content .wps-slider-section .wpsf-product,
.widget_woo_product_slider_widget_content div.wps-slider-section .wps-product-section {
    margin-left: 0;
}

/* Star Rating */
div.wps-slider-section .wps-product-section .star-rating {
    display: inline-flex;
    margin: 8px 0 0 0;
    overflow: hidden;
    position: relative;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    width: 78px;
}

div.wps-slider-section .wps-product-section .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}

div.wps-slider-section .wps-product-section .star-rating:before {
    content: '\e80c\e80c\e80c\e80c\e80c';
    position: absolute;
    color: #C8C8C8;
    font-family: "spfont";
    left: 0;
    letter-spacing: 1px;
}

div.wps-slider-section .wps-product-section .star-rating span:before {
    content: '\e80c\e80c\e80c\e80c\e80c';
    position: absolute;
    color: #F4C100;
    font-family: "spfont";
    top: 0;
    left: 0;
    letter-spacing: 1px;
}

/* Theme Tow */
div.wps-slider-section .sp-wps-theme_two .wpsf-product {
    position: relative;
    border: 1px solid #dddddd !important;
    margin-right: 1px;
}

div.wps-slider-section .sp-wps-theme_two .wpsf-product .sp-wps-product-details {
    margin-top: -61px;
    overflow: hidden;
    border-radius: 0;
    box-shadow: 0 0 0 0;
}

div.wps-slider-section .sp-wps-theme_two img.wpsf-product-img {
    border: 0 solid #dddddd !important;
    margin-left: 0;
}

div.wps-slider-section .sp-wps-theme_two .wpsf-product .sp-wps-product-details-inner {
    background-color: #fff;
    padding: 1px 15px 15px 15px;
    transform: translateY(54px);
    -webkit-transform: translateY(54px);
    -ms-transform: translateY(54px);
    -o-transform: translateY(54px);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

div.wps-slider-section .sp-wps-theme_two .wpsf-product:hover .sp-wps-product-details-inner {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    position: relative;
    z-index: 9;
}

/* Theme Three */
div.wps-slider-section .sp-wps-theme_three .wpsf-product .sp-wps-product-image-area{
    border: 1px solid #dddddd;
    position: relative;
}
div.wps-slider-section .sp-wps-theme_three .wpsf-product .sp-wps-product-details{
    position: absolute;
    bottom: -100%;
    left: 0;
    padding: 10px;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.50);
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
div.wps-slider-section .sp-wps-theme_three .wpsf-product:hover .sp-wps-product-details{
    opacity: 1;
    bottom: 0;
}
div.wps-slider-section .sp-wps-theme_three img.wpsf-product-img {
    border: 0 solid #dddddd !important;
    margin-left: 0;
}